<p id="notice"><%= notice %></p>
<%= image_tag @artwork_iteration.image.url %>
<h1><%= @artwork_iteration.name %></h1>
<p><%= @artwork_iteration.description %></p>

<% if current_user.id == @artwork_iteration.user_id %>
	<%= link_to 'Edit', edit_artwork_iteration_path(@artwork_iteration) %>
<% end %>
