<% title "#{@artwork_iteration.name} by #{@artwork_iteration.user.username}" %>
<div class="text-center">
  <%= image_tag @artwork_iteration.image.url %>
</div>

<div class="container">
<h1><%= @artwork_iteration.name %></h1>
<p><%= @artwork_iteration.description %></p>
</div>

<!-- User Feedback -->
<%= render 'comments/comments' %>
<% if user_signed_in? %>
<%= render 'comments/form' %>
<% end %>

<% if user_signed_in? && current_user.id == @artwork_iteration.user_id %>
<%= link_to 'Edit', edit_artwork_iteration_path(@artwork_iteration) %>
<% end %>