<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | <%= Rails.application.class.parent_name.capitalize %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <% if user_signed_in? && @announcement %>
  <%= render 'layouts/announcement' %>
  <% end %>
  <p id='notice'><%= notice %></p>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
